/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --warning: #f49b00;
  --warning-soft: #ffedcd;
  --error: #e7195a;
  --error-soft: #f5d4df;
  --background: #f1f1f1;
}
body {
  background: var(--background);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */

.home  {
  display: flex;
  flex-direction: column;
}
.home main {
  display: flex;
  gap: 10%;
  margin: 0 20px;
}
.workouts {
  flex-grow: 1;
  min-width: 200px;
}
form.create {
  min-width: 185px;
  flex-shrink: 0;
  position: sticky;
  height: 180px;
  top: 0;
  z-index: 20;
  background-color: var(--background);
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details.shaded {
  background: #d3d3d3;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details.shaded h4 {
  color: unset;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.workout-details span.delete {
  top: 20px;
}
.workout-details span.edit {
  top: 65px;
}
.workout-details span.close {
  top: 65px;
  color: var(--error);
  background-color: var(--error-soft);
}
.workout-details.shaded span.delete ,
.workout-details.shaded span.edit ,
.workout-details.shaded span.delete:hover ,
.workout-details.shaded span.edit:hover {
  color: #a1a1a1;
  cursor: default;
  background-color: unset;
}
.workout-details span.delete:hover {
  color: var(--error);
  background-color: var(--error-soft);
}
.workout-details span.edit:hover {
  color: var(--warning);
  background-color: var(--warning-soft);
}

/* new workout form */
form.create fieldset{
  border: none;
  padding: 0;
}

form.create label,form.create input {
  display: block;
}
form.create input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form.create button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
form.create p.error {
  padding: 10px;
  background: #ffefef;
  border: 1px dotted var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
form.create input.error {
  border: 1px solid var(--error);
}

/*Pagination*/
ul.pagination {
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin-bottom: 100px;
  align-items: baseline;
}
ul.pagination li{
  font-size: 3em;
  font-weight: bold; 
}
ul.pagination li.arrow{
  font-weight: normal; 
}

ul.pagination li button{
  display: inline;
  color: var(--primary);
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
 
}
ul.pagination li button:hover{
  text-decoration: underline;
}

ul.pagination li.ellipsis {
  font-weight: normal;
  font-size: 2rem;
  position: relative;
  bottom: 5px;
}

@media (max-width: 500px) {

  .pages{
    padding: 0;
  }
  .home main{
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
  .home>*{
    padding: 0 20px;
  }
  .workouts{
    order: 2;
    height: auto;
    flex-grow: unset;
    padding: 0 20px;
  }
  form.create {
    order: 1;
    height: fit-content;
    padding: 25px 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

  }
  form.create h3{
    margin-top: 0;
  }
  form.create .workout-numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  form.create button{
    margin: 0 auto;
  }
  ul.pagination{
    gap: 5px;
  }
  ul.pagination li{
    font-size: 1.8em;
  }
  ul.pagination li.ellipsis {
    font-size: 1em;
    bottom: 2px;
    }
  


}